@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
/* @import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700"); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@800;900&family=Work+Sans:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');


:root {
    --circle-size: 340px;
    --neon-line: 5px;
    /* --color-1: rgb(134, 245, 230);
    --color-2: rgb(104, 116, 225);
    --color-3: rgb(214, 144, 171); */
    --color-1: #B9E3F2;
    --color-2: #E4AEFF;
    --color-3: rgb(115, 180, 215);
    --color-theme: #1c2542;
    --transition-time: 5s;


    --color-white-100: hsl(206, 5%, 98%);
    --color-white-200: hsl(206, 5%, 90%);
    --color-white-300: hsl(206, 5%, 80%);
    --color-white-400: hsl(206, 5%, 65%);
    --color-white-500: hsl(206, 5%, 50%);
    --color-white-600: hsl(206, 5%, 35%);
    --color-black-100: hsl(213, 20%, 9%);
    --color-black-200: hsl(213, 23%, 8%);
    --color-black-300: hsl(214, 21%, 6%);
    --color-black-400: hsl(210, 21%, 6%);
    --color-black-500: #050b1e;
    /* --color-black-500: #0f1425; */
    --color-black-600: hsl(220, 18%, 3%);
    --color-black-700: hsl(220, 27%, 2%);
    --color-black-800: hsl(180, 20%, 1%);
    --color-blue-100: hsl(214, 95%, 93%);
    --color-blue-200: hsl(213, 97%, 87%);
    --color-blue-300: hsl(212, 96%, 78%);
    --color-blue-400: hsl(213, 94%, 68%);
    --color-blue-500: hsl(217, 91%, 60%);
    --color-blue-600: hsl(221, 83%, 53%);
    --color-blue-700: hsl(224, 76%, 48%);
    --color-blue-800: hsl(226, 71%, 40%);
    --color-blue-900: hsl(224, 64%, 33%);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, 2vw, 1.125rem);
    font-weight: 400;
    line-height: 1.5;
    height: -webkit-fill-available;
    color: var(--color-white-100);
    background-color: var(--color-black-500);
}

.gradient-background {
    background: linear-gradient(300deg, deepskyblue, #e4aeff, #b9e3f2);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.hero-banner-section {
    background-image: url(../images/HERObg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.glow-header {
    display: flex;
    flex-direction: row;
}

.li1 {
    position: absolute;
}

.li1 img {
    width: 90px;
}

.li2 {
    transform: translate(37px, 23px);
}

.rewards-content {
    background-image: url('../images/Group.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.circle-header-vector {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* method 2 -> use background-clip to support border-radius */

/* demo stuff */
.parent {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.btn-gradient-2 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgb(234, 198, 240);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 20px !important;
    background: linear-gradient(rgb(82, 82, 82), rgb(87, 87, 87)) padding-box,
        linear-gradient(to right, #ca7bf1, rgb(86, 204, 243)) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
}

.hero-content {
    background: #70FF00;
    background: linear-gradient(to right, #70FF00 0%, #FFB800 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Orbitron', sans-serif;
    text-transform: capitalize;
    font-style: Bold;
    font-size: 79px;
    font-weight: 700;
}


.fa-bitcoin-sign {
    font-size: 22px;
    color: #9c47fc;
    display: block;
    background: -webkit-linear-gradient(#70FF00, #FFB800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-clock {
    font-size: 22px;
    color: #70FF00;
    display: block;
    background: -webkit-linear-gradient(#70FF00, #FFB800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-trophy {
    font-size: 20px;
    color: #70FF00;
    display: block;
    background: -webkit-linear-gradient(#70FF00, #FFB800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-rocket {
    font-size: 22px;
    color: #70FF00;
    display: block;
    background: -webkit-linear-gradient(#70FF00, #FFB800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-percent {
    font-size: 22px;
    color: #70FF00;
    display: block;
    background: -webkit-linear-gradient(#70FF00, #FFB800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pl-4 {
    justify-content: center;
    align-items: center;
    color: #9a9a9a;
}

.inner-content {
    justify-content: center;
    align-items: center;
    color: #9a9a9a;
}

main {
    overflow: hidden;
}

a,
button {
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    background: none;
    box-shadow: none;
    text-decoration: none;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.kling-header {
    background: #70FF00;
    background: linear-gradient(to right, #70FF00 0%, #FFB800 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:inherit;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
}

.section {
    margin: 0 auto;
    padding: 6rem 0 1rem;
}

.container {
    max-width: 75rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.centered {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1rem;
}

/* .heading-xl {
    font-family: inherit;
    font-size: clamp(2.648rem, 6vw, 4.241rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
} */

.heading-lg {
    font-family: inherit;
    font-size: clamp(2.179rem, 5vw, 3.176rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
}

.heading-md {
    font-family: inherit;
    font-size: clamp(1.794rem, 4vw, 2.379rem);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -1px;
}

.heading-sm {
    font-family: inherit;
    font-size: clamp(1.476rem, 3vw, 1.782rem);
    font-weight: 600;
    line-height: 1.5;
}

.heading-xs {
    font-family: inherit;
    font-size: clamp(1.215rem, 2vw, 1.335rem);
    font-weight: 500;
    line-height: 1.5;
}

.paragraph {
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    max-width: 77%;
    height: auto;
    text-transform: unset;
}

.btn {
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    text-transform: unset;
    transition: all 0.3s ease-in-out;
}

.btn-inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.btn-darken {
    padding: 0.75rem 2rem;
    color: var(--color-white-100);
    background-color: var(--color-black-200);
    box-shadow: var(--shadow-medium);
}

.btn-neutral {
    padding: 0.75rem 2rem;
    color: var(--color-black-500);
    background-color: var(--color-white-100);
    box-shadow: var(--shadow-medium);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition: all 0.35s ease;
}

.header.on-scroll {
    background: var(--color-black-300);
    box-shadow: var(--shadow-medium);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.25rem;
    width: 100%;
    height: 4.25rem;
    margin-top: 15px;
    margin: 15px auto 2px auto;
}

.brand {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -1px;
    color: var(--color-white-100);
    text-transform: uppercase;
}

.menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 4rem 0 3rem;
    overflow: hidden;
    background-color: var(--color-black-300);
    box-shadow: var(--shadow-medium);
    transition: all 0.4s ease-in-out;
}

.menu.is-active {
    top: 0;
    width: 100%;
    height: auto;
}

.menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
}

.menu-link {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-white-100);
    text-transform: uppercase;
    transition: all 0.3s ease;
    transform: translate(80px, -115px);
    background: deepskyblue;
    background: linear-gradient(to right, deepskyblue 0%, #e4aeff 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-block {
    display: inline-block;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25;
    user-select: none;
    white-space: nowrap;
    text-align: center;
    margin-left: auto;
    padding: 0.65rem 1.5rem;
    border-radius: 3rem;
    text-transform: capitalize;
    color: var(--color-black-800);
    box-shadow: var(--shadow-medium);
    transition: all 0.3s ease-in-out;
}
.menu-block-circle {
    display: inline-block;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25;
    user-select: none;
    white-space: nowrap;
    text-align: center;
    margin-left: auto;
    padding: 0.65rem 1.5rem;
    border-radius: 3rem;
    text-transform: capitalize;
    color: var(--color-black-800);
    box-shadow: var(--shadow-medium);
    transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 48rem) {
    .menu {
        position: relative;
        top: 0;
        width: auto;
        height: auto;
        padding: 0rem;
        margin-left: auto;
        background: none;
        box-shadow: none;
    }

    .menu-inner {
        display: flex;
        flex-direction: row;
        column-gap: 9rem;
        margin: 0 auto;
    }

    .menu-link {
        text-transform: capitalize;
    }

    .menu-block {
        margin-left: 5rem;
    }

    .menu-block-circle {
        margin-left: 2rem;
    }
}

.burger {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    order: -1;
    z-index: 10;
    width: 1.65rem;
    height: 1.15rem;
    border: none;
    outline: none;
    background: none;
    visibility: visible;
    transform: rotate(0deg);
    transition: 0.35s ease;
}

@media only screen and (min-width: 48rem) {
    .burger {
        display: none;
        visibility: hidden;
    }
}

.burger-line {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    border: none;
    outline: none;
    opacity: 1;
    border-radius: 1rem;
    transform: rotate(0deg);
    background-color: var(--color-white-100);
    transition: 0.25s ease-in-out;
}

.burger-line:nth-child(1) {
    top: 0px;
}

.burger-line:nth-child(2) {
    top: 0.5rem;
    width: 70%;
}

.burger-line:nth-child(3) {
    top: 1rem;
}

.burger.is-active .burger-line:nth-child(1) {
    top: 0.5rem;
    transform: rotate(135deg);
}

.burger.is-active .burger-line:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.burger.is-active .burger-line:nth-child(3) {
    top: 0.5rem;
    transform: rotate(-135deg);
}

.banner-column {
    position: relative;
    display: grid;
    align-items: center;
    row-gap: 3rem;
    /* border: 1px solid white; */
}

@media only screen and (min-width: 48rem) {
    .banner-column {
        /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
        justify-content: center;
    }
}

@media only screen and (min-width: 64rem) {
    .banner-column {
        grid-template-columns: 1fr max-content;
        column-gap: 4rem;
        margin-top: 4rem;
        margin-bottom: 3.5rem;
    }
    .banner-column-top {
        grid-template-columns: 1fr max-content;
        column-gap: 4rem;
        margin-top: 3rem;
        margin-bottom: 18rem;
    }
}

.banner-image {
    display: block;
    max-width: 18rem;
    height: auto;
    margin-top: 2rem;
    object-fit: cover;
    justify-self: center;
}

@media only screen and (min-width: 48rem) {
    .banner-image {
        order: 1;
        max-width: 20rem;
        height: auto;
    }
}

@media only screen and (min-width: 64rem) {
    .banner-image {
        max-width: 25rem;
        height: auto;
        margin-right: 5rem;
    }
}

.banner-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.75rem;
}

.banner-links {
    position: absolute;
    top: 30%;
    right: 1.5rem;
    display: grid;
    justify-items: center;
    row-gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
}

@media only screen and (min-width: 64rem) {
    .banner-links {
        opacity: 1;
        visibility: visible;
    }
}

.banner-links>* {
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--color-white-100);
}

.banner-links::before {
    position: absolute;
    content: "";
    top: -3rem;
    width: 4rem;
    height: 1.5px;
    transform: rotate(90deg);
    background: var(--color-white-100);
}

.banner-links::after {
    position: absolute;
    content: "";
    bottom: -3rem;
    width: 4rem;
    height: 2px;
    transform: rotate(90deg);
    background: var(--color-white-100);
}


/* rewards */

/* rewards */



/* why-kling */
.why-kling {
    background-image: url('../images/MyKling.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* why-kling */


/* .fa-solid{ 
    font-size: 20px;
    color: #9c47fc;
    display: block;
    background: -webkit-linear-gradient(#70FF00, #FFB800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */






/* circle */

.circle-logo {
    background-color: aliceblue;
    border-radius: 50%;
    transform: translate(137px, -127px);
}

.kling {
    transform: translate(80px, -115px);
    background: #70FF00;
    background: linear-gradient(to right, #70FF00 0%, #FFB800 25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circle-btn {
    transform: translate(-39px, 27px);
    font-size: 11px;
}

.rewards {
    transform: translate(34px, -99px);
    font-size: 24px;
}

.flexible {
    transform: translate(67px, -99px);
    color: rgb(0, 255, 42);
}

.circle-header {
    color: aqua;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    text-shadow: rgba(0, 238, 255, 0.51) 0px 0px 11px;
}

.class-circle {
    background-image: url('../images/Rectangle\ 3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.circle {
    background: var(--color-theme);
    width: var(--circle-size);
    height: var(--circle-size);
    position: relative;
    border-radius: var(--circle-size);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1 {
    background: linear-gradient(90deg, var(--color-1), var(--color-2), var(--color-3));
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(var(--circle-size) * 0.15);
    /* text-align: center;  */
    font-weight: lighter;
    animation: text-anim var(--transition-time) ease infinite;
    text-transform: uppercase;
    /* filter: blur(1px); */
}

.circle::before {
    content: "";
    width: calc(var(--circle-size) + var(--neon-line));
    height: calc(var(--circle-size) + var(--neon-line));
    border-radius: var(--circle-size);
    background-image: linear-gradient(0deg, var(--color-1), var(--color-2), var(--color-3));
    position: absolute;
    z-index: -1;
    top: - var(var(--neon-line));
    left: - var(--neon-line);
    animation: rotate-neon var(--transition-time) linear infinite;
    /* transform: translate(50px, 100px); */
}

.circle::after {
    position: absolute;
    content: "";
    z-index: -1;
    border-radius: var(--circle-size);
    height: 100%;
    width: 100%;
    filter: blur(15px);
    background-image: linear-gradient(0deg, var(--color-1), var(--color-2), var(--color-3));
    animation: rotate-neon var(--transition-time) linear infinite;
    /* transform: translate(50px, 100px); */
}

@keyframes rotate-neon {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes text-anim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* circle */









/* FAQ */

.wrapper {
    width: 100%;
    margin-left: 1.5vw;
}

h1 {
    margin-bottom: 20px;
}



.faq-wrapper {
    /* background-color: #1c2542; */
    color: rgb(255, 255, 255);
    border-radius: 50px;
    background: linear-gradient(#2e364f, #2e364f) padding-box,
        linear-gradient(to right, #d494f3, rgb(86, 204, 243)) border-box;
    /* border-radius: 50em; */
    border: 2px solid transparent;
    margin: 20px 0;
}

.question {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 14px 80px 14px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(226, 226, 226) !important;
}

.question::before {
    content: "";
    width: 33px;
    height: 33px;
    font-size: 2.2rem;
    position: absolute;
    right: 13px;
    border-radius: 50px;
    background: linear-gradient(300deg, deepskyblue, #e4aeff, #b9e3f2);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}


.question::after {
    content: "\002B";
    font-size: 2.2rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
    color: #000000;
}

.question.active::after {
    transform: rotate(45deg);
}

.answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.answer {
    padding: 0 20px 20px;
    line-height: 1.5rem;
}

.question.active+.answercont {}

@media screen and (max-width: 790px) {
    .wrapper {
        width: 100%;
        /* margin-left: 7vw; */
    }

    .question {
        padding: 20px 43px 20px 20px;
    }
}

/* FAQ */

/* footer */
.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
    background-size: cover;

}



.first {
    margin-top: 40px;
    /*margin-bottom: 50px;*/
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
}

.first h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

/*.first h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
 }*/

.first p {
    font-size: 14px;
}

.second {
    margin-top: 40px;
    /*margin-bottom: 50px;*/
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: end;
}

.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

.second h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 40%;
}


.second li {
    list-style: none;
    padding-bottom: 30px;
}

.second a,
.second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}


.second a:hover,
.second2 a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
    text-decoration: none
}


.third {
    margin-top: 57px;
    /* margin-bottom: 17px;*/
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}


.third h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}


.third h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 80%;
}



.third li {
    list-style: none;
    padding-bottom: 15px;
}


.third a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}


.third a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
}


@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

    /* .first h4::after {
       left: 40%;
    }*/
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

    .third h4::after {
        left: 40% !important;
    }
}

.margin {
    margin-left: 20px;
}

.line {
    height: 2px;
    background-color: rgb(206, 206, 206);
    width: 100%;
}

.footer-copyrights {
    margin-top: 3vh;
}

/*.container h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
 }*/

/* footer */

@media (max-width: 1400px) {
    .brand {
        /* border: 1px solid rgb(0, 0, 0); */
    }
}

@media (max-width: 1200px) {
    .brand {
        /* border: 1px solid rgb(238, 0, 255); */
    }
}

@media (max-width: 1024px) {
    .brand {
        /* border: 1px solid rgb(8, 0, 255); */
    }
}

@media (max-width: 992px) {
    .brand {
        /* border: 1px solid rgb(0, 110, 255); */
        width: 119px;
    }

    .footer-copyrights {
        margin-top: 3vh;
        font-size: 15px;
    }

    .wrapper {
        width: 81%;
        margin-left: 9.5vw;
    }

    .question {
        padding: 8px 19px 8px 20px;
    }

    .glow-header {
        margin-bottom: 5vh;
    }

    .fa-clock {
        transform: translate(-3px, 2px);
        font-size: 16px;
    }

    .fa-trophy {
        transform: translate(0px, 2px);
        font-size: 16px;
    }

    .fa-rocket {
        transform: translate(0px, 2px);
        font-size: 16px;
    }

    .fa-percent {
        transform: translate(0px, 2px);
        font-size: 16px;
    }
}

@media(max-width: 900px) {
    .brand {
        /* border: 1px solid rgb(0, 242, 255); */
    }

    .circle-btn {
        transform: translate(-146px, 43px);
        font-size: 11px;
    }

    .glow-header {
        margin-bottom: 1vh;
    }

    .circle-logo {
        transform: translate(132px, -127px);
    }

    .kling {
        transform: translate(74px, -127px);
    }

    .fa-clock {
        transform: translate(-3px, 2px);
        font-size: 16px;
    }

    .fa-trophy {
        transform: translate(0px, 2px);
        font-size: 16px;
    }

    .fa-rocket {
        transform: translate(0px, 2px);
        font-size: 16px;
    }

    .fa-percent {
        transform: translate(0px, 2px);
        font-size: 16px;
    }

    #wrapper{
        background-size: 106vw 70vh;
    }
}

@media (max-width: 768px) {
    .brand {
        /* border: 1px solid rgb(89, 255, 0); */
    }

    .circle-btn {
        transform: translate(-151px, 41px);
    }
}

@media (max-height: 660px) {
    .brand {
        /* border: 1px solid rgb(212, 255, 0); */
    }

    .fa-clock {
        font-size: 18px;
    }

    .fa-trophy {
        font-size: 18px;
        transform: translate(-1px, 3px);
    }

    .fa-rocket {
        font-size: 18px;
        transform: translate(-1px, 3px);
    }

    .swap-section {
        padding: 5rem 0 1rem !important;
    }
}

@media (max-width: 576px) {
    .brand {
        /* border: 1px solid rgb(255, 238, 0); */
        width: 119px;
    }

    #wrapper{
        background-size: 120vw 70vh;
    }

    .stake-bg {
        height: 78vh;
    }

    .burger {
        width: 4vw;
    }

    .menu {
        background-color: #050b1e;
    }

    .hero-content {
        font-size: 48px;
    }

    .fa-bitcoin-sign {
        font-size: 25px;
        display: inline-block;
    }

    .header-content {
        font-size: 12px;
        display: inline-block;
    }

    .inner-content {
        font-size: 16px;
        font-weight: 400;
    }

    .rewards {
        transform: translate(0px, -99px);
    }

    .circle-btn {
        transform: translate(-101px, 41px);
    }

    .flexible {
        transform: translate(33px, -99px);
    }

    .kling {
        transform: translate(42px, -115px);
    }

    .circle-logo {
        transform: translate(99px, -115px);
    }

    .third {
        margin-top: 0;
    }

    .first img {
        margin: 0 auto;
    }

    .second2 {
        margin-right: 27vw;
        margin-top: 5px;
    }

    .footer-copyrights {
        margin-left: 21vw;
    }

    .question {
        padding: 8px 14px 6px 37px;
    }

    .circle-header {
        font-size: 24px;
        margin-bottom: 7vh;
    }

    .menu-block {
        padding: 0.65rem 0.5rem;
    }
}

@media (max-width: 476px) {
    .brand {
        /* border: 1px solid rgb(255, 132, 0); */
        width: 114px;
    }

    .paragraph{
        max-width: 90%;
    }

    .burger {
        width: 4vw;
    }

    .menu {
        background-color: #050b1e;
    }

    .hero-content {
        font-size: 48px;
    }

    .fa-bitcoin-sign {
        font-size: 22px;
        display: inline-block;
    }

    .header-content {
        font-size: 12px;
        display: inline-block;
    }

    .inner-content {
        font-size: 13px;
    }

    .rewards {
        transform: translate(10px, -99px);
    }

    .circle-btn {
        transform: translate(-116px, 41px);
    }

    .flexible {
        transform: translate(44px, -99px);
    }

    .kling {
        transform: translate(57px, -115px);
    }

    .circle-logo {
        transform: translate(121px, -115px);
    }

    .third {
        margin-top: 0;
    }

    .first img {
        margin: 0 auto;
    }

    .second2 {
        margin-right: 17vw;
        margin-top: 5px;
    }

    .footer-copyrights {
        margin-left: 9vw;
    }

    .question {
        padding: 8px 14px 6px 27px;
    }

    .circle-header {
        font-size: 18px;
        margin-bottom: 7vh;
    }

    .menu-block {
        padding: 0.65rem 0.5rem;
        font-size: 11px;
    }

    .wrapper {
        width: 90vw;
        margin-left: 0;
    }

    .li1 img {
        width: 60px;
    }

    .li2 {
        transform: translate(14px, 11px);
    }

    #wrapper{
        background-size: 111vw 53vh;
    }

    input[type="range"] {
        width: 173px;
    }

}

@media (max-width: 356px) {
    .brand {
        /* border: 1px solid rgb(255, 0, 0); */
        width: 42px;
    }
}